<% @companies.each do |company| %>
    <p>
      <a href="<%= public_company_path company %>">
        <%= company.name %>
      </a>
    </p>
<% end %>

<p>
  <a href="<%= new_public_company_path %>">New</a>
</p>